:root {
  --primary-text-color: #757575;
  --title-text-color: #fef8b9;
  --accent-color: #ac8daf;
  --white-color: #fff;
  --primary-background-color: #072446;
  --secondary-background-color: #f5f4fa;
  --logo-studio-header-color: #000000;
  --footer-studio-footer-color: #fff;
  --footer-contacts-color: rgb(255, 255, 255, 0.6);
  --standart-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
